<h1 class = "text-center" style = "margin-top:100px"><a routerLinkActive="active" routerLink="/green" style="color: green; text-decoration: solid;">Green Cards</a></h1>
<h1 class = "text-center" style = "margin-top:100px"><a  routerLinkActive="active" routerLink="/yellow" style="color: yellow; text-decoration: solid;">Yellow Cards</a></h1>
<h1 class = "text-center" style = "margin-top:100px"><a  routerLinkActive="active" routerLink="/red" style="color: red; text-decoration: solid;">Red Cards</a></h1>
