/* .titledBackground {
  background-image: url(../../../assets/sadcat2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 750px;
  height: 750px;
  margin-left: 15%;
  /* border: 2px solid; */
