<h1 class="text-center" style = "margin-top:100px"><a routerLinkActive="active" routerLink="/math" style="color: purple; text-decoration: solid;">Math Cards</a></h1>
<h1 class="text-center" style = "margin-top:100px"><a  routerLinkActive="active" routerLink="/history" style="color: green; text-decoration: solid;">History Cards</a></h1>
<h1 class="text-center" style = "margin-top:100px"><a  routerLinkActive="active" routerLink="/physics" style="color: blue; text-decoration: solid;">Physics Cards</a></h1>
<h1 class="text-center" style = "margin-top:100px"><a  routerLinkActive="active" routerLink="/cs" style="color: yellow; text-decoration: solid;">Computer Science Cards</a></h1>

