<h1 style="text-align: center"> Your Green Cards</h1>
<div *ngFor="let card of cards" class="card">
    <div *ngIf="card.userId.username == usernameNow">

        <div class="container">
            <div class="card-container">
                <div class="card">
                    <figure class="front">
                        <div class="grid-container">
                            <h2>Subject: {{card.subject.subjectName}}</h2>
                            <br>
                            <br>
                            <br>
                            <h3>Question: {{card.question}}</h3>
                            <p>Card Status: {{card.status.status}}</p>
                            <br>
                            <br>

                            <p>Hover over the card to reveal the answer</p>
                        </div>
                    </figure>
                    <figure class="back">
                        <h5>Answer: {{card.answer}}</h5>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>