<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <!-- Some navbar classes I think look neat -->

    <ul class="navbar-nav">
        <!-- unordered list, to store options in my navbar -->

        <!-- The List Items in this navbar will have the class nav-link -->
        <!-- nav-link lets us change the routerLink the user is on, thus using our routes -->
        <!-- <a> is a tag that lets us link from one view to another -->
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="welcome">Welcome Page</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" *ngIf="!loginService.isUserLoggedIn()" routerLinkActive="active" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="!loginService.isUserLoggedIn()" routerLinkActive="active" routerLink="signup">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="!loginService.isUserLoggedIn()" routerLinkActive="active" routerLink="aboutus">About Us</a>
        </li>
        <!-- <li class="nav-item">
            <a *ngIf="loginService.isUserLoggedIn()" routerLink="logout" class="nav-link">Logout</a>
        </li> -->


        <li class="nav-item dropdown"  dropdown *ngIf="loginService.isUserLoggedIn()">
            <a class="nav-link dropdown-toggle" *ngIf="loginService.isUserLoggedIn()" dropdownToggle  id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                User Options
            </a>
            <ul class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown" >
                <li><a class="dropdown-item" *ngIf="loginService.isUserLoggedIn()" routerLink="active" routerLink="home">Home</a></li>
                <li><a class="dropdown-item" *ngIf="loginService.isUserLoggedIn()" routerLink = "active" routerLink = "view-cards">View All Cards</a></li>
                <li><a class="dropdown-item" *ngIf="loginService.isUserLoggedIn()" routerLink="active" routerLink="status-room">View Cards By Status</a></li>
                <li><a class="dropdown-item" *ngIf="loginService.isUserLoggedIn()" routerLink="active" routerLink="subject-room">View
                        Cards By Subject</a></li>
                <li><a class="dropdown-item" *ngIf="loginService.isUserLoggedIn()" routerLink="active" routerLink="createcard">Create a Card</a></li>
                <li><a class="dropdown-item" *ngIf="loginService.isUserLoggedIn()" href="take-a-test">Take A Test</a></li>
                <li>
                    <hr class="dropdown-divider" *ngIf="loginService.isUserLoggedIn()" >
                </li>
                <li class="nav-item">
                    <a  class="dropdown-item" routerLinkActive="active" routerLink="aboutus">About Us</a>
                </li>
                <li><a class="dropdown-item" *ngIf="loginService.isUserLoggedIn()" routerLink="logout">Logout</a></li>
            </ul>
        </li>

           
       

    </ul>
</nav>
